html,
body {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(background-img.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

header {
    background: none;
}

a {
    color: #ccc !important;
    text-decoration: none;
}

.navbar-brand {
    font-family: 'EB Garamond', serif;
}

.nav-item {
    font-family: 'Dosis', sans-serif;
}

#nav-tab {
    margin-left: 70px;
}

nav .active {
    border-bottom: 1px solid #eee;
    color: #eee !important;
}

nav a:hover {
    color: #ec6 !important;
    text-decoration: none;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transtition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.name {
    padding: 10px;
    font-family: 'EB Garamond', serif;
    margin: -5px -5px;
    font-size: 160%;
}

.title {
    padding: 10px;
    font-family: 'Dosis', sans-serif;
}

.title a {
    text-decoration: none;
    color: #eee;
}

.title a:hover {
    text-decoration: none;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transtition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    color: #ec6 !important;
}

.white-text {
    color: #eee;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 1.5px;
}

.about {
    font-size: 1em;
    font-family: 'Dosis', sans-serif;
}

.bg {
    background-image: url(background-img.png);
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg-head {
    background-image: url(background-img.png);
    height: 30%;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    text-align: center;
    color: #eee;
    padding: 40px 40px;
}

#fullPage {
    background-color: #eee;
    color: #2e2e2e;
}

h1 {
    font-size: 3em !important;
    font-family: 'EB Garamond', serif !important;
    text-shadow: 2px 2px #723;
}

h3 {
    font-size: 1.5em;
}

h2 {
    font-family: 'EB Garamond', serif !important;
    font-size: 2em;
    color: #eee;
}

.landing {
    padding-top: 100px;
    padding-left: 60px;
    padding-bottom: 30%;
    color: #eee;
    text-shadow: 2px 2px #723;
}

.landing-text {
    padding: 100px 0;
    color: #2e2e2e;
    text-align: center;
}


.hr-text {
    margin: 0 0;
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
}

.hr-text:before {
    content: '';
    background-color: #aaa;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}

.hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 .5em;
    line-height: 1.5em;
    background-color: #fff;
}

.card {
    box-shadow: 1px 3px 10px #723;
    background-color: rgba(255, 255, 255, 0.77) !important;
    padding-bottom: 0px;
}

.card-title h3 {
    font-family: 'EB Garamond', serif;
    padding: 10px 10px;
}

.card-text {
    font-family: 'Dosis', sans-serif;
}

.research {
    padding-top: 20px;
    padding-left: 60px;
    padding-bottom: 100px;
    color: #eee;
    /*    background-color: rgba(255, 255, 255, 0.45); */
}

.panel {
    padding-left: 50px;
    margin-top: 20px;
}

i {
    padding: 10px 10px;
}

.icon {
    width: 80px;
    height: 80px;
    margin-top: 20px;
}

.icons {
    margin: -5px -5px;
    color: #eee;
}

.icon-btn {
    padding: 10px 25px;
    color: #eee;
}

.icon-btn:hover {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transtition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    color: #ec6;
}

.interestsText {
    font-size: 1.5em;
    margin: 10px 10px;
}

hr {
    background-color: #fff;
}

.research-img {
    margin-top: 40px;
    width: 100%;
    float: right;
    border: 4px double #ec6;
}

.research-item {
    padding-top: 40px;
    font-family: 'Dosis', sans-serif;
    color: #eee;
    text-shadow: 2px 2px #000;
}

.research-item button {
    font-style: oblique;
    font-family: 'EB Garamond', sans-serif;
}

.btn {
    margin: 30px 30px;
}

.view-btns {
    padding-top: 60px;
    align-content: center;
    width: 100%;
}

/* Animated Intro */

.animate-reveal {
    letter-spacing: 1px;
    opacity: 0;
    -webkit-animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
    -moz-animation: reveal 1s ease-in 1 normal forwards;
    -o-animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
    animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
}

.animate-first {
    -webkit-animation-delay: 0;
    -moz-animation-delay: 0;
    -o-animation-delay: 0;
    animation-delay: 0;
}

.animate-second {
    -webkit-animation-delay: 500ms;
    -moz-animation-delay: 500ms;
    -o-animation-delay: 500ms;
    animation-delay: 500ms;
}

.animate-third {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}

@-webkit-keyframes reveal {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -o-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

@-moz-keyframes reveal {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -o-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

@-o-keyframes reveal {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -o-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes reveal {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100f);
        -moz-transform: translateY(100%);
        -o-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

.page-footer a {
    color: #ccc;
}

.page-footer a:hover {
    color: #eee !important;
    transition: .5s;
    text-decoration: none;
}

footer h5 {
    font-family: 'EB Garamond', serif;
}

footer p {
    font-family: 'Dosis', sans-serif;
    color: #ccc;
}

@media screen and (max-width: 1020px) {
    .row {
        float: none;
        width: auto;
    }
    .landing {
        font-size: 2rem;
    }
    .interestsText {
        font-size: 1.5rem;
        margin: 15px 15px;
    }
}


/*lalala*/
/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 900px) {
    .topnav a {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 900px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0 !important;
      top: 0 !important;
    }

    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }